/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End CSS Reset */


strong{						/* Re-declare strong as CSS reset clears it */
	font-weight: bold;
}

/* Save a little space when printing */

@media print
  {
	p, li, h1, h2, h3, section, footer{
		font-size:15px;
		color:black;
	}	
  }

body{ 
	font: 90% georgia, sans-serif;
	line-height: 1.5;
	background-color: #E9EAED;
	color: black;
	margin: 0 auto;
	padding: 0em;
	border: 0em;
	width: 900px;  /* Define width of body to be same as header image */
}

h1{
	text-align:center;
        font: bold 2.0em georgia, sans-serif;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 15px;
}


h2{
	text-align:center;
	font: bold 1.5em georgia, sans-serif;
	margin-top: 5px;
	margin-bottom: 20px;
	margin-left: 10px;
}

h3{
	font: bold 1.2em georgia, sans-serif;
	margin-left: 15px;
	margin-bottom: 15px;
}

p{
	margin-bottom: 20px;
	margin-right: 25px;
	margin-left: 25px;
}

img{
	margin:auto;
	display:block;
	margin-bottom: 25px;
}
